PORT=3001
MONGODB_URI=mongodb://localhost:27017/book-reader
QWENVL_API=https://qwenvl.kevyn.com.br
QWENVL_MODEL=Qwen/Qwen2.5-VL-7B-Instruct-AWQ
TTS_API=https://tts.kevyn.com.br
DATA_DIR=./data
KOKORO_VOICE=pf_dora
KOKORO_SPEED=1.0
FRONTEND_ORIGIN=http://localhost:5173
