PORT=3001
MONGODB_URI=mongodb://localhost:27017/book-reader
QWENVL_API=https://qwenvl.kevyn.com.br
QWENVL_MODEL=Qwen/Qwen2.5-VL-7B-Instruct-AWQ
TTS_API=http://127.0.0.1:8000
DATA_DIR=./data
TTS_VOICE=pt-BR-FranciscaNeural
TTS_SPEED=1.0
TTS_LANGUAGE=en
FRONTEND_ORIGIN=http://localhost:5173
